.navbar {
  padding: 2em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1em;
}
.navbar > ul {
  display: flex;
}
.navbar > ul > li {
  margin: 0 0.4em;
}
.navbar > ul > li > a > img {
  width: 25px;
}
.navbar-logo {
  width: 3rem;
}
.navbar-logo > a > img {
  transform: scale(3);
}
a {
  overflow: hidden;
}
@media (max-width: 500px) {
  body {
    font-size: 0.9rem;
    /* padding: 0; */
  }
  .card {
    flex-basis: 250px !important;
  }
  .navbar {
    display: flex;
    justify-content: none;
  }
}
